:root {
    --primaryRed: #FF3F3A;
    --white: #ffffff;
    --black:#000000;
    --mediumGray: #787a80;
    --darkBlue: #1e212c;
    --nearBlack:#1e1e1e;
    --lightBlue:#a2d0f7;
    --seafoam:#caf0e3;
    --lightYellow:#fff8aa;
    --lightGray:#f4f5f7;
    --orange:#F75E05;
    --stoneGray:#9a9ca5;
    --mintGreen:#03cea4;
    --mediumBlue:#5a87fc;
    --mango:#f89828;
    --hotPink:#f52f6e;
    --mediumPurple:#7772f1;
    --ghostWhite:#e5e8ed;
    --white20:#ffffff33;
    --deepBlueGray:#292c37;
    --charcoal:#424551;
    --silver:#a1a1a1;
    --chrome:#D7DADD;

    --gradient-primary:linear-gradient(55.95deg, var(--primaryRed) 0%, var(--orange) 100%);
}
